@import url(http://fonts.googleapis.com/css?family=Ravi+Prakash);
header {
	background-color: #EAC117;
	font-family: 'Ravi Prakash', cursive;
	font-size:30px;
}
body {
	background-color: #920000;

}

div#candlez {
	padding-top: 80px;
	position:relative;
}

img#candle2 {
	padding-left:1070.4567px;
	position: absolute;
}
p.fc {
	font-family:sans-serif;
	color:blue;
	font-size:50px;
}